.parent-container {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  perspective: 1000px;
  // perspective-origin: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  box-shadow: -40px 40px 40px rgba(0, 0, 0, 0.5);
  // transform: rotate(-30deg) skew(25deg) rotateX(30deg) translateZ(50px);
  // transform: rotateX(30deg) translateZ(20px) rotate(45deg);
  transform: rotate(-30deg) skew(25deg);
}

.box {
  position: relative;
  background-color: #4a4e69;
  border: 2px solid #9a8c98;
}

.board:hover {
  cursor: pointer;
  transition: 2s all ease;
  box-shadow: -80px 80px 80px rgba(0, 0, 0, 0.5);
}

.board:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #4a4e69;
  background-size: 5px;
  transform: rotate(0deg) skewY(-45deg);
}

.board:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #4a4e69;
  background-size: 120px;
  transform: rotate(0deg) skewX(-45deg);
}

.tree {
  position: absolute;
  transform: skew(-25deg) rotate(30deg);
  background: transparent;
  bottom: -10%;
  left: 60%;
  // object-fit: contain;
}

#first-box {
  z-index: 3;
}
#second-box {
  z-index: 2;
}
#third-box {
  z-index: 1;
}
#fourth-box {
  z-index: 4;
}
#fifth-box {
  z-index: 3;
}
#sixth-box {
  z-index: 2;
}
#seventh-box {
  z-index: 5;
}
#eighth-box {
  z-index: 4;
}
#ninth-box {
  z-index: 3;
}
