<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'titlebar.css' %}" />
    <!-- <link rel="stylesheet" href="styles/style.css"> -->
    <title>Django</title>
  </head>
  <body>
    {% block content %}{% include "titlebar.html" %}{% endblock %}
  </body>
</html>
