<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/map.css' %}" />
    <script src="{% static './scripts/app.js' %}"></script>   
    <!-- <link rel="stylesheet" href="styles/style.css"> -->
    <title>Django</title>
  </head>
  <body>
    {% block content %}
    <div class = "parent-container">
      <div class="animated-container">
      <div class = "board">
        <div class="box" id="first-box">
          <div class="tree">
            <img src="{% static 'images/building1.svg' %}" alt="My image"></div>
        </div>
        <div class="box" id="second-box">
          <div class="tree">
            <img src="{% static 'images/building1.svg' %}" alt="My image"></div>
        </div>
        <div class="box" id="third-box">
          <div class="tree">
            <img src="{% static 'images/building1.svg' %}" alt="My image">
          </div>
        </div>
        <div class="box" id="fourth-box">
          <div class="tree">
            <img src="{% static 'images/building1.svg' %}" alt="My image">
          </div>
        </div>
        <div class="box" id="fifth-box">
          <div class="tree">
            <img src="{% static 'images/building1.svg' %}" alt="My image">
          </div>
        </div>
        <div class="box" id="sixth-box">
          <div class="tree">
            <img src="{% static 'images/building1.svg' %}" alt="My image">
          </div>
        </div>
        <div class="box" id="seventh-box">
          <div class="tree">
            <img src="{% static 'images/building1.svg' %}" alt="My image">
          </div>
        </div>
        <div class="box" id="eighth-box">
          <div class="tree">
            <img src="{% static 'images/building1.svg' %}" alt="My image">
          </div>
        </div>
        <div class="box" id="ninth-box">
          <div class="tree">
            <img src="{% static 'images/building1.svg' %}" alt="My image">
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="sidebar">

    </div>
    {% endblock %}
  </body>
</html>
