{ % load static %}
<div class = "parent-container">
  <div class = "board">
    <div class="box">
      <div class="tree">
        <img src={% static 'images/building1.svg'}></div>
    </div>
    <div class="box">
      <div class="tree"></div>
    </div>
    <div class="box">
      <div class="tree"></div>
    </div>
    <div class="box">
      <div class="tree"></div>
    </div>
    <div class="box">
      <div class="tree"></div>
    </div>
    <div class="box">
      <div class="tree"></div>
    </div>
    <div class="box">
      <div class="tree"></div>
    </div>
    <div class="box">
      <div class="tree"></div>
    </div>
    <div class="box">
      <div class="tree"></div>
    </div>
  </div>
</div>