* {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: block;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: #22223b;
  color: white;
  height: 100%;
  width: 100%;
}

#root {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.parent-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
}

.animated-container {
  -webkit-animation-name: slideToTheLeft;
          animation-name: slideToTheLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.board {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10vmin)[3];
      grid-template-columns: repeat(3, 10vmin);
  -ms-grid-rows: (10vmin)[3];
      grid-template-rows: repeat(3, 10vmin);
  -webkit-box-shadow: -40px 40px 40px rgba(0, 0, 0, 0.5);
          box-shadow: -40px 40px 40px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-box-shadow 1s ease;
  transition: -webkit-box-shadow 1s ease;
  transition: box-shadow 1s ease;
  transition: box-shadow 1s ease, -webkit-box-shadow 1s ease;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

@-webkit-keyframes slideToTheLeft {
  0% {
    -webkit-transform: translateX(0) rotate(-30deg) skew(25deg);
            transform: translateX(0) rotate(-30deg) skew(25deg);
  }
  100% {
    -webkit-transform: translateX(-25vw) rotate(-30deg) skew(25deg);
            transform: translateX(-25vw) rotate(-30deg) skew(25deg);
  }
}

@keyframes slideToTheLeft {
  0% {
    -webkit-transform: translateX(0) rotate(-30deg) skew(25deg);
            transform: translateX(0) rotate(-30deg) skew(25deg);
  }
  100% {
    -webkit-transform: translateX(-25vw) rotate(-30deg) skew(25deg);
            transform: translateX(-25vw) rotate(-30deg) skew(25deg);
  }
}

.box {
  position: relative;
  background-color: #4a4e69;
  border: 2px solid #9a8c98;
  z-index: 0;
}

.board:hover {
  cursor: pointer;
  -webkit-box-shadow: -80px 80px 80px rgba(0, 0, 0, 0.5);
          box-shadow: -80px 80px 80px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-5vh);
          transform: translateY(-5vh);
}

.board:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #4a4e69;
  background-size: 5px;
  -webkit-transform: rotate(0deg) skewY(-45deg);
          transform: rotate(0deg) skewY(-45deg);
}

.board:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #4a4e69;
  background-size: 120px;
  -webkit-transform: rotate(0deg) skewX(-45deg);
          transform: rotate(0deg) skewX(-45deg);
}

.tree {
  position: absolute;
  -webkit-transform: skew(-25deg) rotate(30deg);
          transform: skew(-25deg) rotate(30deg);
  background: transparent;
  bottom: -10%;
  left: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}

img {
  width: 13vmin;
}

#first-box {
  z-index: 3;
}

#second-box {
  z-index: 2;
}

#third-box {
  z-index: 1;
}

#fourth-box {
  z-index: 4;
}

#fifth-box {
  z-index: 3;
}

#sixth-box {
  z-index: 2;
}

#seventh-box {
  z-index: 5;
}

#eighth-box {
  z-index: 4;
}

#ninth-box {
  z-index: 3;
}
/*# sourceMappingURL=index.css.map */