* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: #22223b;
  color: white;
  height: 100%;
  width: 100%;
}

#root {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parent-container {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
}

.animated-container {
  animation-name: slideToTheLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 10vmin);
  grid-template-rows: repeat(3, 10vmin);
  box-shadow: -40px 40px 40px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s ease;
  transition: transform 0.5s ease-in-out;
}

@keyframes slideToTheLeft {
  0% {
    transform: translateX(0) rotate(-30deg) skew(25deg);
  }
  100% {
    transform: translateX(-25vw) rotate(-30deg) skew(25deg);
  }
}

.box {
  position: relative;
  background-color: #4a4e69;
  border: 2px solid #9a8c98;
  z-index: 0;
}

.board:hover {
  cursor: pointer;
  box-shadow: -80px 80px 80px rgba(0, 0, 0, 0.5);
  transform: translateY(-5vh);
}

.board:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #4a4e69;
  background-size: 5px;
  transform: rotate(0deg) skewY(-45deg);
}

.board:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #4a4e69;
  background-size: 120px;
  transform: rotate(0deg) skewX(-45deg);
}

.tree {
  position: absolute;
  transform: skew(-25deg) rotate(30deg);
  background: transparent;
  bottom: -10%;
  left: 60%;
  object-fit: contain;
}

img {
  width: 13vmin;
}

#first-box {
  z-index: 3;
}
#second-box {
  z-index: 2;
}
#third-box {
  z-index: 1;
}
#fourth-box {
  z-index: 4;
}
#fifth-box {
  z-index: 3;
}
#sixth-box {
  z-index: 2;
}
#seventh-box {
  z-index: 5;
}
#eighth-box {
  z-index: 4;
}
#ninth-box {
  z-index: 3;
}
