.parent-container {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  box-shadow: -40px 40px 40px rgba(0, 0, 0, 0.5);
  transform: rotate(-30deg) skew(25deg);
}

.box {
  position: relative;
  background-color: #4a4e69;
  border: 2px solid #9a8c98;
  display: grid;
  place-items: center;
}

.board:hover {
  cursor: pointer;
  transition: 2s all ease;
  box-shadow: -80px 80px 80px rgba(0, 0, 0, 0.5);
}

.board:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #4a4e69;
  background-size: 5px;
  transform: rotate(0deg) skewY(-45deg);
}

.board:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #4a4e69;
  background-size: 120px;
  transform: rotate(0deg) skewX(-45deg);
}

.tree {
  position: absolute;
  width: 140px;
  height: 200px;
  transform: skew(-25deg) rotate(30deg);
  bottom: 0;
  left: 50%;
  z-index: 1;
}

.box:nth-of-type(even) .tree {
  background-color: pink;
}

.box:nth-of-type(odd) .tree {
  background-color: blue;
}

// .model {
//   postion: absolute;
//   width: 30px;
//   bottom: 0;
//   height: 300px;
//   background-color: rgb(183, 88, 207);
// }
